<% if (typeof news === 'object' && news.length) { %>
<div style="clear: both"></div>
<% news.forEach(function (content) { %>
<div class="cinemapress-news-block">
    <div style="margin: 0; padding: 10px">
        <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url(<%- content.image %>);">
            <div class="cinemapress-news-title">
                <%= content.title %>
            </div>
        </a>
    </div>
</div>
<% }); %>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
<div class="cinemapress-news-block" style="height: 200px; overflow-y: scroll; margin: 10px 0; padding: 0 10px;">
<% recent.forEach(function (comment) { %>
    <div class="cinemapress-recent">
        <div class="cinemapress-recent-head">
            <% if (comment.avatar) { %>
            <div class="cinemapress-recent-head-avatar">
                <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
            </div>
            <% } %>
            <div class="cinemapress-recent-head-meta">
                <div>
                    <a href="<%- comment.url %>"><%= comment.title %></a>
                </div>
                <div>
                    <span>
                        <%- comment.user %>
                    </span><span>
                        сказал(а)
                    </span><span>
                        <%- comment.date %>
                    </span>
                </div>
            </div>
        </div>
        <div class="cinemapress-recent-comment">
            <%- comment.comment %>
        </div>
    </div>
<% }); %>
</div>
<% } %>

<div style="clear: both"></div>

<div class="flex-rw">
    <ul class="footer-list-top-info">
        <li>
            <div class="footer-list-header">
                <span class="ion-android-list">Весь список</span>
            </div>
        </li>
        <li>
            <a href="/<%- page.urls.genre %>" class="generic-anchor footer-list-anchor">Все жанры</a>
        </li>
        <li>
            <a href="/<%- page.urls.country %>" class="generic-anchor footer-list-anchor">Все страны</a>
        </li>
        <li>
            <a href="/<%- page.urls.year %>" class="generic-anchor footer-list-anchor">Все года</a>
        </li>
        <li>
            <a href="/<%- page.urls.director %>" class="generic-anchor footer-list-anchor">Все режиссеры</a>
        </li>
        <li>
            <a href="/<%- page.urls.actor %>" class="generic-anchor footer-list-anchor">Все актеры</a>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li>
            <div class="footer-list-header"><span class="ion-location">Навигация</span></div>
        </li>
        <li>
            <a class="generic-anchor footer-list-anchor" href="/<%- page.urls.type %>/<%- page.urls.types.movie %>">Фильмы</a>
        </li>
        <li>
            <a class="generic-anchor footer-list-anchor" href="/<%- page.urls.type %>/<%- page.urls.types.serial %>">Сериалы</a>
        </li>
        <li>
            <a class="generic-anchor footer-list-anchor" href="/<%- page.urls.type %>/<%- page.urls.types.mult %>">Мультфильмы</a>
        </li>
        <li>
            <a class="generic-anchor footer-list-anchor" href="/<%- page.urls.type %>/<%- page.urls.types.anime %>">Аниме</a>
        </li>
        <li>
            <a class="generic-anchor footer-list-anchor" href="/<%- page.urls.type %>/<%- page.urls.types.tv %>">Передачи</a>
        </li>
    </ul>
    <ul class="footer-list-top">
        <li id='help'>
            <div class="footer-list-header"><span class="ion-pricetags">Категории</span></div>
        </li>
        <% page.urls.years.slice(0,5).forEach(function(year) { %>
        <li>
            <a class="generic-anchor footer-list-anchor" href="<%- year.url %>">Фильмы <%- year.title %> года</a>
        </li>
        <% }); %>
    </ul>
    <% if (page.social) { %>

    <div class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect">
            Присоединяйся <span class="footer-social-small">и</span> будь первым!
        </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <% if (page.social.vk) { %>
            <a class="generic-anchor" href="<%- page.social.vk %>" target="_blank"><i class="fa fa-vk"></i></a>
            <% } %>
            <% if (page.social.facebook) { %>
            <a class="generic-anchor" href="<%- page.social.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>
            <% } %>
            <% if (page.social.twitter) { %>
            <a class="generic-anchor" href="<%- page.social.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a>
            <% } %>
            <% if (page.social.gplus) { %>
            <a class="generic-anchor" href="<%- page.social.gplus %>" target="_blank"><i class="fa fa-google-plus"></i></a>
            <% } %>
            <% if (page.social.youtube) { %>
            <a class="generic-anchor" href="<%- page.social.youtube %>" target="_blank"><i class="fa fa-youtube"></i></a>
            <% } %>
            <% if (page.social.instagram) { %>
            <a class="generic-anchor" href="<%- page.social.instagram %>" target="_blank"><i class="fa fa-instagram"></i></a>
            <% } %>
        </span>
    </div>

    <% } %>

    <div class="recentlyViewedBlock" style="margin: 25px; display: none;">
        <div>Вы надавно смотрели:</div>
        <div id="recentlyViewed"></div>
    </div>

    <div class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">
            <a href="/">Лучшие фильмы в мире</a>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="mailto:<%- page.email %>">Email: <span id="mylo">Activate JS</span><script>(function(d,i,l,r){d.getElementById(i).innerHTML=l+'@'+r;})(window.document,'mylo','<%- page.email.split('@')[0] %>','<%- page.email.split('@')[1] %>');</script>
        </div>
    </div>
</div>
<div class="footer_links cf">
    <ul>
        <li>
            <a href="/">Все сериалы в мире ТОП 100</a>
        </li>
        <li class="counter">

        </li>
    </ul>
</div>
<div class="age"><img src="/themes/bran/public/images/pg.png" alt="18+"></div>
<div class="copyrights">
    &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.org" target="_blank">CinemaPress&nbsp;ACMS</a>
</div>
<script src="/themes/bran/public/js/all.js"></script>

<%- page.codes.footer %>