<div class="logo">
    <a href="/">
        <img src="/themes/<%- page.theme %>/public/images/logo.svg?v=<%- page.ver %>" alt="Logo"/>
    </a>
</div>
<button class="menu_button" id="trigger"><%- page.l.menu %></button>
<div class="searchblock">
    <form method="get" action="/<%- page.urls.search %>">
        <input id="story" name="q" type="text" value="<%- page.l.search %>"
               onfocus='if (this.value === "<%- page.l.search %>") { this.value=""; }'
               onblur='if (this.value === "") { this.value="<%- page.l.search %>"; }' class="searchform"
               data-autocomplete="desktop">
        <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>
    </form>
</div>
<a href="javascript:void(0)" class="fav_link continueViewingBlock" id="continueViewing"
   style="display: none;"><%- page.l.continue %>?</a>
<div class="randomMovieMenu">
    <a href="/?random=<%- Math.random() %>" class="live_link cinemapress-random-menu" title="<%= page.l.random %>">
        <img src="/themes/<%- page.theme %>/public/images/dice.svg" alt="<%= page.l.lucky %>">
        <%- page.l.lucky %>
    </a>
</div>