<nav id="mp-menu" class="mp-menu">
    <div class="mp-level">
        <h2 class="ion-earth">Выбор категории</h2>
        <ul>
            <li><a class="ion-ios-videocam" href="/<%- page.urls.type %>/<%- page.urls.types.movie %>">Фильмы</a></li>
            <li><a class="ion-ios-videocam" href="/<%- page.urls.type %>/<%- page.urls.types.serial %>">Сериалы</a></li>
            <li><a class="ion-ios-videocam" href="/<%- page.urls.type %>/<%- page.urls.types.mult %>">Мультфильмы</a></li>
            <li><a class="ion-ios-videocam" href="/<%- page.urls.type %>/<%- page.urls.types.anime %>">Аниме</a></li>
            <li><a class="ion-ios-videocam" href="/<%- page.urls.type %>/<%- page.urls.types.tv %>">Передачи</a></li>
            <li class="ion-chevron-left">
                <a class="ion-calendar" href="javascript:void(0);">По годам</a>
                <div class="mp-level">
                    <h2 class="ion-calendar">Фильмы по годам</h2>
                    <a class="mp-back" href="javascript:void(0);">Назад</a>
                    <ul>
                        <% page.urls.years.slice(0,10).forEach(function(year) { %>
                        <li>
                            <a class="ion-android-calendar" href="<%- year.url %>">Фильмы <%- year.title %> года</a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </li>
            <li class="ion-chevron-left">
                <a class="ion-pound" href="javascript:void(0);">Жанры</a>
                <div class="mp-level">
                    <h2 class="ion-pound">Фильмы по жанрам</h2>
                    <a class="mp-back" href="javascript:void(0);">Назад</a>
                    <ul>
                        <% page.urls.genres.forEach(function(genre) { %>
                        <li>
                            <a class="ion-android-calendar" href="<%- genre.url %>"><%- genre.title %></a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </li>
            <li><a class="ion-videocamera" href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up">Премьеры</a></li>
            <li><a class="ion-flame" href="/<%- page.urls.year %>/2017">Новинки кино</a></li>
            <li><a class="ion-android-star-outline" href="/<%- page.urls.content %>?tag=Коллекция">Подборки</a></li>
        </ul>
    </div>
</nav>