<nav id="mp-menu" class="mp-menu">
    <div class="mp-level">
        <h2 class="ion-earth">Выбор категории</h2>
        <ul>
            <li><a class="ion-ios-videocam" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>">Фильмы</a></li>
            <li><a class="ion-ios-videocam" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>">Сериалы</a></li>
            <li><a class="ion-ios-videocam" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>">Мультфильмы</a></li>
            <li><a class="ion-ios-videocam" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>">Аниме</a></li>
            <li><a class="ion-ios-videocam" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.tv %>">Передачи</a></li>
            <li class="ion-chevron-left">
                <a class="ion-calendar" href="javascript:void(0);">По годам</a>
                <div class="mp-level">
                    <h2 class="ion-calendar">Фильмы по годам</h2>
                    <a class="mp-back" href="javascript:void(0);">Назад</a>
                    <ul>
                        <li>
                            <a class="ion-android-calendar" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2014">Фильмы 2014 года</a>
                        </li>
                        <li>
                            <a class="ion-android-calendar" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2015">Фильмы 2015 года</a>
                        </li>
                        <li>
                            <a class="ion-android-calendar" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2016">Фильмы 2016 года</a>
                        </li>
                        <li>
                            <a class="ion-android-calendar" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2017">Фильмы 2017 года</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="ion-chevron-left">
                <a class="ion-pound" href="javascript:void(0);">Жанры</a>
                <div class="mp-level">
                    <h2 class="ion-pound">Фильмы по жанрам</h2>
                    <a class="mp-back" href="javascript:void(0);">Назад</a>
                    <ul>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/биография">Биография</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/боевик">Боевики</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/вестерн">Вестерны</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/военный">Военные</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/детектив">Детективы</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/детский">Детские</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/документальный">Документальные</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/драма">Драма</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/история">Исторические</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/комедия">Комедии</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/криминал">Криминал</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/мелодрама">Мелодрамы</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/приключения">Приключения</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/семейный">Семейные</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/спорт">Спорт</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/триллер">Триллер</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/ужасы">Ужасы</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/фантастика">Фантастика</a>
                        </li>
                        <li>
                            <a class="ion-ios-redo-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/фэнтези">Фэнтези</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a class="ion-videocamera" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up">Премьеры</a></li>
            <li><a class="ion-flame" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.year %>/2017">Новинки кино</a></li>
            <li><a class="ion-android-star-outline" href="<%- page.protocol %><%- page.domain %>/<%- page.urls.collection %>">Подборки</a></li>
        </ul>
    </div>
</nav>