<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <%- include('includes/head.ejs'); -%>

</head>
<body>
<header class="header">

    <%- include('includes/header.ejs'); -%>

</header>
<div class="container">
    <div class="cont-wrap">
        <div class="mp-pusher" id="mp-pusher">

            <%- include('includes/nav.ejs'); -%>

            <div class="scroller">
                <div class="scroller-inner">

                    <% if (typeof slider === 'object' && slider.length) { %>

                        <div class="hblock cf">

                            <div id="owl-demo" class="owl-carousel owl-theme" style="margin: 20px auto;">

                                <% slider.forEach(function (movie) { %>

                                    <div class="item">

                                        <%- include('includes/short.ejs', {movie: movie}); -%>

                                    </div>

                                <% }); %>

                            </div>

                        </div>

                    <% } %>

                    <% if (typeof page.adv === 'object' && page.adv.top) { %>
                        <div style="text-align: center; margin: 10px auto">
                            <%- page.adv.top %>
                        </div>
                    <% } %>

                    <div class="mblock breadcrumbs">
                        <h1><%- page.h1 %></h1>
                        <span>
                            <a href="/">
                                <%- page.l.home %>
                            </a>
                        </span>
                        <span>
                            »
                        </span>
                        <span>
                            <%= page.title %>
                        </span>
                    </div>

                    <div class="cf">
                        <div id="cinemapress-content">

                            <% if (typeof categories === 'object' && categories.length) { %>
                                <div style="clear: both"></div>
                                <% categories.forEach(function (content) { %>
                                    <div style="float:left;width:25%;">
                                        <div style="margin:10px;padding:0;position:relative">
                                            <div class="cinemapress-categories" style="background-image:url('<%- content.image %>');"></div>
                                            <a href="<%- content.url %>" class="cinemapress-categories-title"><%= content.title %></a>
                                        </div>
                                    </div>
                                <% }); %>
                                <div style="clear: both"></div>
                            <% } %>

                        </div>
                    </div>

                    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
                        <div style="text-align: center; margin: 10px auto">
                            <%- page.adv.bottom %>
                        </div>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer cf">

    <% if (page.seo) { %>

        <div class="about">
            <div class="wrapper">
                <%- page.seo %>
            </div>
        </div>

    <% } %>

    <%- include('includes/footer.ejs'); -%>

</footer>
</body>
</html>