<!DOCTYPE html>
<html lang="ru-RU">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<header class="header">

    <% include includes/header.ejs %>

</header>
<div class="container">
    <div class="cont-wrap">
        <div class="mp-pusher" id="mp-pusher">

            <% include includes/nav.ejs %>

            <div class="scroller">
                <div class="scroller-inner">

                    <% if (typeof slider == 'object' && slider.movies.length) { %>

                    <div class="hblock cf">

                        <div id="owl-demo" class="owl-carousel owl-theme" style="margin: 20px auto;">

                            <% slider.movies.forEach(function (movie) { %>

                            <div class="item">

                                <% include includes/short.ejs %>

                            </div>

                            <% }); %>

                        </div>

                    </div>

                    <% } %>

                    <% if (typeof page.adv == 'object' && page.adv.top) { %>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.top %>
                    </div>
                    <% } %>

                    <div class="mblock breadcrumbs">
                        <h1><%- page.title %></h1>
                        <span>
                            <a href="<%- page.protocol %><%- page.domain %>">
                                Главная
                            </a>
                        </span>
                        <span>
                            »
                        </span>
                        <span>
                            <%- page.title %>
                        </span>
                    </div>

                    <div class="cf">
                        <div id="cinemapress-content">

                            <div class="navigation-holder basecont ignore-select">

                                <div class="navigation">

                                    <% page.sorting.forEach(function (sort) { %>

                                    <% if (sort.active) { %>

                                    <strong>
                                        <a href="<%- sort.url %>"> <%- sort.name %> </a>
                                    </strong>

                                    <% } else { %>

                                    <a href="<%- sort.url %>">
                                        <%- sort.name %>
                                    </a>

                                    <% } %>

                                    <% }); %>

                                </div>

                            </div>

                            <div style="clear: both"></div>

                            <% if (typeof movies == 'object' && movies.length) { %>

                            <% movies.forEach(function (movie) { %>

                            <div class="shortstory cf">

                                <% include includes/short.ejs %>

                            </div>

                            <% }); %>

                            <% } %>

                            <div style="clear: both"></div>

                            <div class="navigation-holder basecont ignore-select">
                                <div class="navigation">
                                    <% if (page.pagination.prev.length) { %>
                                    <% page.pagination.prev.slice(-3).forEach(function (prev) { %>
                                    <a href="<%- prev.link %>" rel="nofollow"><%- prev.number %></a>
                                    <% }); %>
                                    <span class="nav_ext">...</span>
                                    <% } %>
                                    <strong><a><%- page.pagination.current %></a></strong>
                                    <% if (page.pagination.next.length) { %>
                                    <span class="nav_ext">...</span>
                                    <% page.pagination.next.slice(0,3).forEach(function (next) { %>
                                    <a href="<%- next.link %>" rel="nofollow"><%- next.number %></a>
                                    <% }); %>
                                    <% } %>
                                </div>
                            </div>

                        </div>
                    </div>

                    <% if (typeof page.adv == 'object' && page.adv.top) { %>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.top %>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer cf">

    <% if (page.seo) { %>

    <div class="about">
        <div class="wrapper">
            <%- page.seo %>
        </div>
    </div>

    <% } %>

    <% include includes/footer.ejs %>

</footer>
</body>
</html>