<!DOCTYPE html>
<html lang="ru">
<head>

    <% include includes/head.ejs %>

</head>
<body>
<header class="header">

    <% include includes/header.ejs %>

</header>
<div class="container">
    <div class="cont-wrap">
        <div class="mp-pusher" id="mp-pusher">

            <% include includes/nav.ejs %>

            <div class="scroller">
                <div class="scroller-inner">

                    <% if (typeof slider === 'object' && slider.length) { %>

                    <div class="hblock cf">

                        <div id="owl-demo" class="owl-carousel owl-theme" style="margin: 20px auto;">

                            <% slider.forEach(function (movie) { %>

                            <div class="item">

                                <% include includes/short.ejs %>

                            </div>

                            <% }); %>

                        </div>

                    </div>

                    <% } %>

                    <% if (typeof page.adv === 'object' && page.adv.top) { %>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.top %>
                    </div>
                    <% } %>

                    <div class="mblock breadcrumbs">
                        <h1><%= page.title %></h1>
                        <span>
                            <a href="/">
                                Главная
                            </a>
                        </span>
                        <span>
                            »
                        </span>
                        <span>
                            <%= page.title %>
                        </span>
                    </div>

                    <div class="cf">
                        <div id="cinemapress-content">

                            <% if (typeof categories === 'object' && categories.length) { %>
                            <div style="clear: both"></div>
                            <% categories.forEach(function (content) { %>
                            <div style="float: left; width: 25%;">
                                <div style="margin: 0; padding: 10px">
                                    <a href="<%- content.url %>" class="cinemapress-news">
                                        <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%= content.title %>" style="height: 160px">
                                        <div class="cinemapress-news-title">
                                            <%= content.title %>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% }); %>
                            <div style="clear: both"></div>
                            <% } %>

                        </div>
                    </div>

                    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.bottom %>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer cf">

    <% if (page.seo) { %>

    <div class="about">
        <div class="wrapper">
            <%- page.seo %>
        </div>
    </div>

    <% } %>

    <% include includes/footer.ejs %>

</footer>
</body>
</html>